*.o
*.bin
*.elf
*.a
.*.swp
/doc
/linkmap
/t
/session
/test*
/loadscript
/otapush
/espflash
/espif
/universalbridge.odt
/demo
/dump
/espplay
/font/bdf2c
/font/font_32x16.c
/font/t
/furelise
/listsymbols.pl
/oxygene
/pins
/resetserial
/t.c
/t.pl
/tmp
