[submodule "esptool2"]
	path = esptool2
	url = https://github.com/eriksl/esptool2.git
[submodule "rboot"]
	path = rboot
	url = https://github.com/eriksl/rboot.git
[submodule "ESP8266_NONOS_SDK"]
	path = ESP8266_NONOS_SDK
	url = https://github.com/espressif/ESP8266_NONOS_SDK
[submodule "esp-open-sdk"]
	path = esp-open-sdk
	url = https://github.com/someburner/esp-open-sdk.git
