[submodule "ESP8266_NONOS_SDK"]
	path = third-party/ESP8266_NONOS_SDK
	url = https://github.com/eriksl/ESP8266_NONOS_SDK.git
[submodule "third-party/crosstool-ng"]
	path = third-party/crosstool-ng
	url = https://github.com/someburner/crosstool-ng.git
[submodule "third-party/lwip-for-esp8266-nonos-sdk"]
	path = third-party/lwip-for-esp8266-nonos-sdk
	url = https://github.com/eriksl/lwip-for-esp8266-nonos-sdk.git
[submodule "third-party/esptool2"]
	path = third-party/esptool2
	url = http://github.com/raburton/esptool2
[submodule "third-party/rboot"]
	path = third-party/rboot
	url = http://github.com/raburton/rboot
